extern/build
extern/lib
extern/lib64
extern/share
extern/include
extern/mongo-c-driver/.*
lib/
CMakeFiles/
build/
cmake_install.cmake
HelProp
get_HCS_distance_test
IOTest
ParticleTest
libdocopt.a
Makefile

*.out
*.png
*.ipynb
*.txt
*.bson
*.csv
*.dat
*.gz
*.log
*.json
*spec
*mat